@font-face {
  font-weight: 300;
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}
@font-face {
  font-weight: 800;
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

* {
  box-sizing: content-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-color: #032023;
  box-shadow: inset 0 0 250px 20px #24586e;
}


::-webkit-scrollbar {
  display: none;
}

main,
div,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

/* 개별Css */

.titlebox {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 37rem;
  color: black;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid black;
  margin-left: 34.6rem;
  margin-top: 5rem;
  font-size: 1.4rem;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.32);
  font-weight: 550;
}

.imgbox1 {
  display: flex;
  width: 24rem;
  height: 26rem;
  margin-left: 12rem;
  border-radius: 20px;
  
}

.imgbox2 {
  display: flex;
  width: 24rem;
  height: 26rem;
  margin-left: 5rem;
  border-radius: 20px;
}

.imgbox3 {
  display: flex;
  width: 24rem;
  height: 26rem;
  margin-left: 5rem;
  border-radius: 20px;
}

.textbox {
  display: flex;
  justify-content: center;
  width: 81.5rem;
  height: 11rem;
  /* border: 1px solid white; */
  color: white;
  margin-top: 3.5rem;
  margin-left: 12.5rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.detail {
  display: flex;
  margin-top: 100px;
}

body {
  background-color: #032023;
}


.leftarrow {
  
  
  margin-left: -89rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  
  
}

.rightarrow {
  margin-left: 91rem;
  margin-top: 0rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.etcimg {
  display: flex;
  align-items: center;
  /* transition: transform 10s ease; */
}
.etcimg img {
  width: 100%;
  height: 100%;
}

.imgbox1 img,
.imgbox2 img,
.imgbox3 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하며 채우기 */
  border-radius: 20px; /* 테두리 둥글게 설정 */
}


/* 이미지 상자 숨기기 */
.etcimg > div {
  display: none;
}

/* 처음에는 처음 3개의 이미지 상자만 보이기 */
.etcimg > div:nth-child(-n+3) {
  display: block;
}
