.titlebox {
    display: flex;
    justify-content: center;
    /* width: 49.3056vw; */
    height: 4.3056vh;
    width: 600px;
    color: black;
    /* opacity: 0.3; */
    background-color: #ffffff;
    border-radius: 12px;
    border : 1px solid black;
    margin-left: 30vw;
    margin-top: 5vw;
    padding-top: 1vh;
    
    
    
}

.imgbox {
    display: flex;
    width: 39.0278vw;
    height: 43.2639vh;
    margin-left: 23vw;
}

.textbox {
    display: flex;
    width: 47.7083vw;
    height: 42.9167vh;
    width: 500px;
    border: 1px solid white;
    margin-left: -13rem;
    color: white;

}

.detail {
    display: flex;
    margin-top: 100px;
}

body {
    background-color: #032023;
}