@font-face {
  font-weight: 300;
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}
@font-face {
  font-weight: 800;
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

* {
  box-sizing: content-box;
  background: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

main,
div,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

canvas {
  display: block;
}

#nav {
  font-family: "Pretendard-Bold";
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  z-index: 150;
  border-bottom: #ffffff 1px solid;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  font-family: "pretendard-regular";
  color: #ffffff;
  display: inline-block;
}

#nav ul li a {
  display: block;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 150;
}

.nav-title {
  display: flex;
  align-items: center;
  font-size: large;
}

.nav-title #logo {
  width: 60px;
  height: 60px;
}

.nav-title #first-title {
  color: #ffffff;
}

.nav-title #second-title {
  color: #40bccb;
}

/* 기존의 CSS 코드 */

.box {
  position: absolute;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 25px;
  z-index: 100;
}
