{% extends 'background.html' %} 
{% load static %} {% block content %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/activityDetail.css' %}" />
    <script src="{% static 'js/activityDetail1.js' %}" defer></script>
    
    <title>Document</title>
  </head>
  <body>
   
    <div class="container">
      <div class="title">
        <div class="Line">
          <div class="titleLine leftLine"></div>
          <div class="titleCircle leftCircle"></div>
        </div>
        <div class="titleText">아기사자 OT</div>
        <div class="Line">
          <div class="titleCircle rightCircle"></div>
          <div class="titleLine rightLine"></div>
        </div>
      </div>

    <div class="detail">
      <div class="etcimg">
        <div class="imgbox1"><img src="{% static 'image/OT.png' %}" /></div>
        <div class="imgbox2"><img src="{% static 'image/OT.png' %}"/></div>
        <div class="imgbox3"><img src="{% static 'image/OT.png' %}"/></div>
        <!-- <div class="imgbox4"><img src="{% static 'image/OT.png' %}"/></div> -->
      </div>
        <button class="leftarrow"><img src="{% static 'image/arrow3.png' %}" /></button>
        <button class="rightarrow"><img src="{% static 'image/arrow2.png' %}" /></button>
      
    </div>
    {% comment %}
        <div class="etcimg">
          
          <img class="img2" src="/static/image/hackathon.png" />
          <img class="img3" src="/static/image/OT.png" />
          <img class="img4" src="/static/image/hackathon.png" />
        </div>
    {% endcomment %}
    
    <div class="textbox">
      🦁 경상국립대 멋쟁이사자처럼 11기 첫만남 🦁 <br>
       새로운 학기를 맞아 경상국립대 멋사 11기의 첫 OT를 진행하였습니다! <br>
       첫 만남에도 재치있고 재미있게 참여해주신 11기 아기사자분들 덕분에 OT를 성공적으로 마무리 할 수 있었습니다:) <br>
       앞으로의 경상국립대 11기 아기사자들의 활동을 기대해주세요✨ <br>
    </div>

   
  </body>
</html>
{% endblock %}