{% load static %}
<!DOCTYPE html>
<html lang="en">

    <div id="nav">
      <div id="nav-title">
        <img
          id="logo"
          src="{% static 'image/LikeLion_logo.svg' %}"
          alt="로고없음"
        />
        <span id="first-title">멋쟁이사자처럼</span> &nbsp;
        <span id="second-title">경상국립대</span>
      </div>
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/project">프로젝트</a></li>
        <li><a href="/activity">활동</a></li>
        <li><a href="/planpage">일정</a></li>
        <li><a href="/introduce">프로필</a></li>
        <li><a href="/FAQ">FAQ</a></li>
      </ul>
    </div>

    <div class="container">
      {% block content %} {% endblock %} {% block faq %} {% endblock %} 
      {% block project %} {% endblock %} {% block projectDetail %} {% endblock %} 
      {% block activityDetail %} {% endblock %} {% block introduce %} {% endblock %} 
      {% block planpage %} {% endblock %}
      {% block activity %} {% endblock %}
    </div>
  </body>
</html>
