{% extends 'nav.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GNU 멋쟁이사자처럼</title>
    <link
      rel="shortcut icon"
      href="{% static 'image/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'image/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/FAQ.css' %}" />
    <script src="{% static 'js/FAQ.js' %}" defer></script>
  </head>
  <body>
    <div>
        <h1>FAQ</h1>
        <h3>Frequently Asked Questions</h3>
        <div class="underbar"></div>
        <div class="faq">
            <div id="search-field" class="field has-addons">
                <div class="control has-icons-left">
                    <input id="search-input" class="input" type="input" placeholder="Search" onkeyup="enterkeySearch()">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <div id="btn-search-post" class="control" onclick="searchPost()">
                    <button class="button is-sparta">검색</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
{% endblock %}
