{% extends 'background.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block backgroundHeader %}
  <title>GNU 멋쟁이사자처럼</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <script src="{% static 'js/main.js' %}" defer="defer"></script>
  {% endblock %}
</head>

<body>
  {% block content %}
  <a name="level1"></a>
  <div class="likelion">
    <img class="lionImg" src="{% static 'image/lion.png' %}" />
    <div class="likelion_eng">LIKELION</div>
    <div class="likelion_kor">멋쟁이사자처럼</div>
    <div class="gnu_kor">경상국립대학교</div>
    <a href="#level2">
      <button class="arrow_btn">
        <img src="{% static 'image/arrow.png' %}" />
      </button>
    </a>
  </div>

  <a name="level2"></a>
  <div class="recruit">
    <div class="twelveth_likelion">12th 멋쟁이사자처럼</div>
    <div class="baby_lion_orange">아기사자&nbsp;</div>
    <div class="baby_lion_white">모집 중</div>
    <br />

    <div class="recruit_left">
      <div class="recruit_course">Course</div>
      <span class="recruit_course_kor" id="course_kor">서버</span>
      <span class="recruit_course_eng" id="course_eng">Server</span>
      <br />
      <div class="course_explain" id="course_explain">
        필요한 정보를 신속 정확하게 제공하는 서버.<br />
        비교적 쉬워 개발이 빠른 Django 서버를<br />
        직접 만들어보며 서버가 필요한 이유를 느껴봅시다.
      </div>
      <br />
    </div>

    <div class="recruit_right">
      <img class="course_img" height="400px" src="{% static 'image/ideathon4.png' %}" />
      <div id="overlay" style="
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          ">
        <p style="
              color: white;
              font-size: 24px;
              text-align: center;
              cursor: pointer;
            ">
          영상 시청
        </p>
      </div>
    </div>

    <br />

    <div class="slider">
      <div class="slider_item">&nbsp;</div>
      <div class="slider_item">&nbsp;</div>
      <div class="slider_item">&nbsp;</div>
      <div class="slider_item slider_active">&nbsp;</div>
      <div class="slider_item">&nbsp;</div>
      <div class="slider_item">&nbsp;</div>
    </div>

    <a href="#level2.5">
      <button class="arrow_btn">
        <img src="{% static 'image/arrow.png' %}" />
      </button>
    </a>
  </div>

  <a name="level2.5"></a>
  <div class="calendar">
    <div class="calendar_left">
      <div class="calendar_session">Session</div>
      <div class="calendar_every">매주</div>
      <br />
      <div class="calendar_tue_thu">화, 목</div>
      <div class="calendar_dinner">저녁 이후</div>
      <br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <div class="calendar_right">
      <img height="500px" src="{% static 'image/calendar.svg' %}" />

      <div class="calendar_small_text">
        <br />
        시험 기간에는 학습 여건을 보장하기 위해 2주~3주 정도 세션이 진행되지
        않습니다. <br />세션 시간은 당일 여건에 따라 약간의 차이가 있을 수
        있습니다.
      </div>
    </div>
    <br />
    <a href="#level3">
      <button class="arrow_btn">
        <img src="{% static 'image/arrow.png' %}" />
      </button>
    </a>
  </div>

  <a name="level3"></a>
  <div class="history">
    <div class="titleBox">
      <div class="title">HISTORY</div>
      <div>11기의 흔적</div>
    </div>
    <div class="intro" id="intro">
      <div class="session slideBox">
        <div class="imgDiv">
          <img class="imgBox sessionBox" src="{% static 'image/session.jpg' %}" alt="image" />
        </div>
        <div class="slideText">
          <div><span class="titleName">SESSION</span><br />2023.03 ~ 2023.11</div>
          <div class="coment">
            1학기는 주 2회, 2학기는 주 1회 세션을 진행하였습니다.<br /><a href="#level2.5" class="more">더 알아보기</a>
          </div>
        </div>
      </div>
      <div class="ideaton slideBox">
        <div class="imgDiv">
          <img class="imgBox ideathonBox" src="{% static 'image/likelion_ideathon.jpg' %}" alt="image" />
        </div>
        <div class="slideText">
          <div><span class="titleName">IDEATHON</span><br />2023.06.20</div>
          <div class="coment">
            멋쟁이사자처럼 첫 공식 대회, 아이디어톤을 진행하였습니다.<br /><a href="/activityDetail2" class="more">더 알아보기</a>
          </div>
        </div>
      </div>
      <div class="mt slideBox">
        <div class="imgDiv sessionImgBox">
          <img class="imgBox mtBox" src="{% static 'image/MT.jpg' %}" alt="image" />
        </div>
        <div class="slideText">
          <div><span class="titleName">MT</span><br />2023.07.23 ~ 07.24</div>
          <div class="coment">
            2023년 여름, 사천으로 여름 MT를 떠났습니다.<br /><a href="/activityDetail3" class="more">더 알아보기</a>
          </div>
        </div>
      </div>
      <div class="hackathon slideBox">
        <div class="imgDiv">
          <img class="imgBox hackathonBox" src="{% static 'image/hackathon.png' %}" alt="image" />
        </div>
        <div class="slideText">
          <div><span class="titleName">HACKATHON</span><br />2023.08.18 ~ 08.19</div>
          <div class="coment">
            서울 양재AT센터에서 해커톤, 3등 수상!<br /><a href="/activityDetail4" class="more">더 알아보기</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slideBtn">
      <span id="preBtn" class="lrBtn"><img src="/static/image/arrow_left_btn.png" alt="leftArrow"
          style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(85deg) brightness(102%) contrast(101%);"
          width="30vw" height="30vw" class="slideImg"></span>
      <span id="nextBtn" class="lrBtn"><img src="/static/image/arrow_right_btn.png" alt="rightArrow"
          style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(85deg) brightness(102%) contrast(101%);"
          width="30vw" height="30vw" class="slideImg"></span>
    </div>
    <div class="go_write_resume">
      <a target="_blank" href="https://m.blog.naver.com/saraminapp/221962431259">
        <div>지원서 작성</div>
      </a>
    </div>
  </div>

  <footer>
    <div class="about">About</div>
    <div class="about_link">
      <a href="https://www.instagram.com/likelion_gnu/" target="_blank">
        <img src="{% static 'image/about_logo/instagram.png' %}" />
      </a>
      <div>Instagram</div>
    </div>
    <div class="about_link">
      <a href="https://github.com/MinChoi0129" target="_blank">
        <img src="{% static 'image/about_logo/github.png' %}" />
      </a>
      <div>Github</div>
    </div>
    <div class="about_link">
      <a href="https://www.instagram.com/likelion_gnu/" target="_blank">
        <img src="{% static 'image/about_logo/meta.png' %}" />
      </a>
      <div>Meta</div>
    </div>
  </footer>
  {% endblock %}
</body>

</html>