{% extends 'background.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block backgroundHeader %}
      <title>GNU 멋쟁이사자처럼</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
      <script src="{% static 'js/main.js' %}" defer="defer"></script>
    {% endblock %}
  </head>

  <body>
    {% block content %}
      <a name="level1"></a>
      <div class="likelion">
        <img class="lionImg" src="{% static 'image/lion.png' %}"/>
        <div class="likelion_eng">LIKELION</div>
        <div class="likelion_kor">멋쟁이사자처럼</div>
        <div class="gnu_kor">경상국립대학교</div>
        <a href="#level2">
          <button class="arrow_btn">
            <img src="{% static 'image/arrow.png' %}"/>
          </button>
        </a>
      </div>

      <a name="level2"></a>
      <div class="recruit">
        <div class="twelveth_likelion">12th 멋쟁이사자처럼</div>
        <div class="baby_lion_orange">아기사자&nbsp;</div>
        <div class="baby_lion_white">모집 중</div>
        <br/>
        <div></div>
        <a href="#level3">
          <button class="arrow_btn">
            <img src="{% static 'image/arrow.png' %}"/></button>
        </a>
      </div>

      <a name="level3"></a>
      <div class="history">
        내용 추가 바랍니다.
      </div>

      <footer>
        <div class="about">About</div>
        <div class="about_link">
          <a href="https://www.instagram.com/likelion_gnu/" target="_blank">
            <img src="{% static 'image/about_logo/instagram.png' %}"/>
          </a>
          <div>Instagram</div>
        </div>
        <div class="about_link">
          <a href="https://github.com/MinChoi0129" target="_blank">
            <img src="{% static 'image/about_logo/github.png' %}"/>
          </a>
          <div>Github</div>
        </div>
        <div class="about_link">
          <a href="https://www.instagram.com/likelion_gnu/" target="_blank">
            <img src="{% static 'image/about_logo/meta.png' %}"/>
          </a>
          <div>Meta</div>
        </div>
      </footer>
    {% endblock %}
  </body>

</html>
