{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="{% static 'js/nav.js' %}" ></script>
</head>
<body>
    <div id="nav">
        <div class="nav-title">
            <img id="logo" src="{% static 'image/LikeLion_logo.svg' %}" alt="로고없음"> 
            <span id="first-title">멋쟁이사자처럼</span> &nbsp;
            <span id="second-title">경상국립대</span>
        </div>
        <ul>
            <li><a href="">홈</a></li>
            <li><a href="">프로젝트</a></li>
            <li><a href="">활동&일정</a></li>
            <li><a href="">프로필</a></li>
            <li><a href="">QnA</a></li>
        </ul>
    </div id="nav">
    {% block content %}{% endblock %}
</body>
