{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GNU 멋쟁이사자처럼</title>
    <link
      rel="shortcut icon"
      href="{% static 'image/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'image/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/project.css' %}"/>
    <script src="{% static 'js/project.js' %}" defer></script>
  </head>

  <body>
    <div class="introduce">
        <p class="title">11th.<br>
            IDEATHON</p>
            <img src="/static/image/sign.png">
    </div>

    <div class="activity">
        <img src="/static/image/currentImg.png">
        <img src="/static/image/postImg.png">
        <img src="/static/image/preImg.png">
        <img src="/static/image/right.png">
        <img src="/static/image/left.png">
    </div>
  
  </body>
</html>
